h1 {
  text-align: center;
}

.game {
  display: flex;
  justify-content: space-between;
}

.board-container {
  height: 400px;
  border: 1px solid blue;
}

#top-row, .foundations, .tableau {
  display: flex;
}

.foundations {
  margin-left: 50px;
}

.card {
  height: 60px;
  width: 40px;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px 5px;
}

.stack-edge {
  border-left: 5px solid rgb(226, 73, 73);
  border-bottom: 5px solid rgb(226, 73, 73);
}