.card-back-jet {
  background-image: '';
}
.card-back-cat {
  background-image: '';
}
.card-back-tornado {
  background-image: '';
}

.empty-stack {
  background-image: '';
}
.empty-hearts {
  background-image: '';
}
.empty-diamonds {
  background-image: '';
}
.empty-clubs {
  background-image: '';
}
.empty-spades {
  background-image: '';
}

.cAH {
  background-image: '';
}
.c2H {
  background-image: '';
}
.c3H {
  background-image: '';
}
.c4H {
  background-image: '';
}
.c5H {
  background-image: '';
}
.c6H {
  background-image: '';
}
.c7H {
  background-image: '';
}
.c8H {
  background-image: '';
}
.c9H {
  background-image: '';
}
.cTH {
  background-image: '';
}
.cJH {
  background-image: '';
}
.cQH {
  background-image: '';
}
.cKH {
  background-image: '';
}
.cAD {
  background-image: '';
}
.c2D {
  background-image: '';
}
.c3D {
  background-image: '';
}
.c4D {
  background-image: '';
}
.c5D {
  background-image: '';
}
.c6D {
  background-image: '';
}
.c7D {
  background-image: '';
}
.c8D {
  background-image: '';
}
.c9D {
  background-image: '';
}
.cTD {
  background-image: '';
}
.cJD {
  background-image: '';
}
.cQD {
  background-image: '';
}
.cKD {
  background-image: '';
}
.cAS {
  background-image: '';
}
.c2S {
  background-image: '';
}
.c3S {
  background-image: '';
}
.c4S {
  background-image: '';
}
.c5S {
  background-image: '';
}
.c6S {
  background-image: '';
}
.c7S {
  background-image: '';
}
.c8S {
  background-image: '';
}
.c9S {
  background-image: '';
}
.cTS {
  background-image: '';
}
.cJS {
  background-image: '';
}
.cQS {
  background-image: '';
}
.cKS {
  background-image: '';
}
.cAC {
  background-image: '';
}
.c2C {
  background-image: '';
}
.c3C {
  background-image: '';
}
.c4C {
  background-image: '';
}
.c5C {
  background-image: '';
}
.c6C {
  background-image: '';
}
.c7C {
  background-image: '';
}
.c8C {
  background-image: '';
}
.c9C {
  background-image: '';
}
.cTC {
  background-image: '';
}
.cJC {
  background-image: '';
}
.cQC {
  background-image: '';
}
.cKC {
  background-image: '';
}