.card-back-jet {
  background-image: '';
}
.card-back-cat {
  background-image: '';
}
.card-back-tornado {
  background-image: '';
}

.empty-stack {
  background-image: '';
}
.empty-hearts {
  background-image: '';
}
.empty-diamonds {
  background-image: '';
}
.empty-clubs {
  background-image: '';
}
.empty-spades {
  background-image: '';
}

.cAH {
  background-image: './card_images/AH.png';
}
.c2H {
  background-image: './card_images/2H.png';
}
.c3H {
  background-image: './card_images/3H.png';
}
.c4H {
  background-image: './card_images/4H.png';
}
.c5H {
  background-image: './card_images/5H.png';
}
.c6H {
  background-image: './card_images/6H.png';
}
.c7H {
  background-image: './card_images/7H.png';
}
.c8H {
  background-image: './card_images/8H.png';
}
.c9H {
  background-image: './card_images/9H.png';
}
.cTH {
  background-image: './card_images/10H.png';
}
.cJH {
  background-image: './card_images/JH.png';
}
.cQH {
  background-image: './card_images/QH.png';
}
.cKH {
  background-image: './card_images/KH.png';
}
.cAD {
  background-image: './card_images/AD.png';
}
.c2D {
  background-image: './card_images/2D.png';
}
.c3D {
  background-image: './card_images/3D.png';
}
.c4D {
  background-image: './card_images/4D.png';
}
.c5D {
  background-image: './card_images/5D.png';
}
.c6D {
  background-image: './card_images/6D.png';
}
.c7D {
  background-image: './card_images/7D.png';
}
.c8D {
  background-image: './card_images/8D.png';
}
.c9D {
  background-image: './card_images/9D.png';
}
.cTD {
  background-image: './card_images/10D.png';
}
.cJD {
  background-image: './card_images/JD.png';
}
.cQD {
  background-image: './card_images/QD.png';
}
.cKD {
  background-image: './card_images/KD.png';
}
.cAS {
  background-image: './card_images/AS.png';
}
.c2S {
  background-image: './card_images/2S.png';
}
.c3S {
  background-image: './card_images/3S.png';
}
.c4S {
  background-image: './card_images/4S.png';
}
.c5S {
  background-image: './card_images/5S.png';
}
.c6S {
  background-image: './card_images/6S.png';
}
.c7S {
  background-image: './card_images/7S.png';
}
.c8S {
  background-image: './card_images/8S.png';
}
.c9S {
  background-image: './card_images/9S.png';
}
.cTS {
  background-image: './card_images/10S.png';
}
.cJS {
  background-image: './card_images/JS.png';
}
.cQS {
  background-image: './card_images/QS.png';
}
.cKS {
  background-image: './card_images/KS.png';
}
.cAC {
  background-image: './card_images/AC.png';
}
.c2C {
  background-image: './card_images/2C.png';
}
.c3C {
  background-image: './card_images/3C.png';
}
.c4C {
  background-image: './card_images/4C.png';
}
.c5C {
  background-image: './card_images/5C.png';
}
.c6C {
  background-image: './card_images/6C.png';
}
.c7C {
  background-image: './card_images/7C.png';
}
.c8C {
  background-image: './card_images/8C.png';
}
.c9C {
  background-image: './card_images/9C.png';
}
.cTC {
  background-image: './card_images/10C.png';
}
.cJC {
  background-image: './card_images/JC.png';
}
.cQC {
  background-image: './card_images/QC.png';
}
.cKC {
  background-image: './card_images/KC.png';
}